<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7427371865.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}" />
  </head>
  <body>
    <header>
      <div class="image-container">
        <img
          src="{% static 'images/logo.png' %}"
          alt="Image logo"
          class="header-logo"
        />
      </div>
      <nav>
        <a href="#">Home</a> |
        <a href="#">About us</a>
        <a href="#">Pages</a>
        <a href="#">Blog</a>
        <a href="#">FAQs</a>
        <a href="#"> Contact Us</a>
        <a  class="logo-nav" href="#">
          <i class="fa-solid fa-plane" style="color: #000000;"></i>
          Book Now</a>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="hero-socials">
          <div class="socials-divider"></div>
          <div class="hero-socials-container">
            <div class="social-icon">
              <a href="#">
                <i class="fa-brands fa-facebook" style="color: #dcbb87"></i>
              </a>
            </div>
            <div class="social-icon">
              <a href="#">
                <i class="fa-brands fa-twitter" style="color: #dcbb87"></i>
              </a>
            </div>
            <div class="social-icon">
              <a href="#">
                <i class="fa-brands fa-youtube" style="color: #dcbb87"></i>
              </a>
            </div>
            <div class="social-icon">
              <a href="#">
                <i class="fa-brands fa-instagram" style="color: #dcbb87"></i>
              </a>
            </div>
          </div>
          <div class="socials-divider"></div>
        </div>
        <div class="hero-content">
          <div class="hero-logo">
            <img src="{% static 'images/logo.png' %}" alt="hero logo" />
          </div>
          <div class="hero-description">
            <h1>
              Image
              Book a private jet
              instantly</h1>
            <p>Curly Airline proudly raises the bar and exceeds the standard for luxury and corporate private jet charter services. We pride ourselves on offering a professional service.</p>
          </div>
          <div class="hero-links">
            <a class="trip" href="#">
              <i class="fa-solid fa-angle-right" style="color: #dcbb87"></i> 
              Make Your Trip
            </a>
            <a class="request" href="#">
              Request Quote&nbsp;
              <i class="fa-solid fa-arrow-right-long" style="color: #ffffff;"></i>
          </div>
        </div>
        <div class="hero-jet">
          <img src="{% static 'images/jet1.png' %}" alt="jet">
        </div>
      </section>
      <div class="charter">
        <div class="charter-private"> 
          <div class="charter-jet">
            <img src="{%static 'images/jet charter.png'%}" alt="jet">
          </div>
          <div class= "charter-text">
          <h2>Private Jet Charter<h2>
            <p>Trade crowded airports and wasted time for the ease, comfort, and convenience of travel by private jet.</p>
            <div class=charter-logo>
              <i class="fa-solid fa-plane" style="color: #dcbb87;"></i>
              Book Now
            </div>
          </div>
        </div>
        <div class="charter-public">
          <div class="charter-jetwing">
            <img src="{%static 'images/Jet wing.png'%}" alt="jet wing">
          </div>
          <div class=charter-description>
            <h3> #1 Private jet Charter </h3>
            <h4> Find the Best Service For You </h4>
            <p>Private Jet Charter</p>
            <p>Bussiness Jet Charter</p>
            <p>Private Helicopter</p>
            <p>Air Ambulance</p>
          </div>
        </div>
      </div>
    </div>
      <div class="super">
        <div class="super-image">
          <img src="{% static 'images/crew image.png'%}" alt="crew image">
        </div>
        <div class="super-section">
          <h5>About Flynext</h5>
          <h6>Private Jet Charters save your time and give more comfort</h6>
          <p>Flynext is the only way to fully travel on your terms. Whether it’s accessing a remote destination or taking back control of productivity and flight scheduling</p>
        
        </div>
        <div class="super-content">

        </div>

      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </main>
  </body>
</html>
